APP_HOST=0.0.0.0
APP_PORT=8000
BROWSER_HEADLESS=true
BROWSER_TIMEOUT_MS=15000
OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=gemma3:4b
VISION_MODEL=gemma3:4b
MAX_ACTIONS_PER_REQUEST=8
MAX_AGENT_STEPS=10
